UniversalRAGAgent/Table Memory Chat Bot Retrieval.json
{
  "name": "Table Memory Chat Bot Retrieval",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1968,
        464
      ],
      "id": "05b416bd-a4cf-40a7-9567-b24593b41c2f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ypHiVnbB3jkc0yAx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1616,
        272
      ],
      "id": "397e7ce5-cde8-4184-b20f-e38625e24667",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Base Context').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nConversation context (JSON):\n{{ $('Get Context').item.json.context || '{\"recent_messages\":[],\"long_term_memories\":[]}' }}\n\nThe context contains:\n- recent_messages: previous conversation turns with this user\n- long_term_memories: important facts, preferences, and goals about the user\n\nUse this information naturally when responding. Don't mention that you're reading from context"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1968,
        272
      ],
      "id": "765b90b4-0f45-4b34-baaf-830206cbfe55",
      "name": "Response Agent"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2976,
        272
      ],
      "id": "e7d30cf2-1d9a-426c-aeef-3feb36928247",
      "name": "Chat Trigger",
      "webhookId": "a8b55280-dc4b-4685-8293-ff7a0fa038e2"
    },
    {
      "parameters": {
        "content": "Make memory Manager smarter and remove \"Build Next Context\"\n\nport this to Supabase\n\nLog conversations. For each message pair check is it part of the previous conversation? Then update the summary of that conversation, a maximum of 2 sentences. If not, start a new conversation.\n\n",
        "height": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        48
      ],
      "typeVersion": 1,
      "id": "4b424a08-8bce-4664-b722-3e145efca488",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b57aaebc-00b6-49d5-8a4f-90ecb9246d97",
              "name": "context_id",
              "value": "={{$json.userid }}",
              "type": "string"
            },
            {
              "id": "588a1a2e-a5aa-4c7d-82d5-239a3cee5721",
              "name": "table_prefix",
              "value": "={{ $json.appname }}_{{ $json.environment }}_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2592,
        272
      ],
      "id": "c0876a70-ddc2-46a3-8a03-caed1d9ee0c1",
      "name": "Context Keys"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
              "name": "chatInput",
              "value": "={{ $json.chatInput || $json.message?.text || $json.body?.chatInput || $json.text }}",
              "type": "string"
            },
            {
              "id": "b80831d8-c653-4203-8706-adedfdb98f77",
              "name": "sessionId",
              "value": "={{ $json?.sessionId || $json.body.sessionId}}",
              "type": "string"
            },
            {
              "id": "b84118bf-d789-499b-87e7-f8d3b601cec8",
              "name": "tenant",
              "value": "=",
              "type": "string"
            },
            {
              "id": "bdacb505-6584-4518-95e8-7d5e7c20f020",
              "name": "environment",
              "value": "=dev",
              "type": "string"
            },
            {
              "id": "6b9472fb-1541-4684-97ec-d358fe048aad",
              "name": "userid",
              "value": "=michaelfY0bPv0HuPsz",
              "type": "string"
            },
            {
              "id": "669003c6-cc8f-4641-a58b-39a5b5306d4c",
              "name": "appname",
              "value": "ura",
              "type": "string"
            },
            {
              "id": "29013846-2214-4d3b-ae9e-226bb27da2c6",
              "name": "persona",
              "value": "",
              "type": "string"
            },
            {
              "id": "8c10376c-c743-4213-82a8-0bc661e2a79e",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4925f3e3-5ba3-4406-8781-dfd9d083411a",
      "name": "Base Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2784,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2384,
        272
      ],
      "id": "31980cf8-1060-4e25-9a63-db27efa03831",
      "name": "deleteme"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT context_id, context, created_at, updated_at FROM {{ $('Context Keys').item.json.table_prefix }}chat_contexts WHERE context_id = '{{ $('Context Keys').item.json.context_id }}' LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2176,
        272
      ],
      "id": "4e50f9d3-b41c-4251-aa48-048d5bed025d",
      "name": "Get Context",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "p1yb7OdsllaTAj7J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e7XF3f8ZZCeSZyw0",
          "mode": "list",
          "cachedResultUrl": "/workflow/e7XF3f8ZZCeSZyw0",
          "cachedResultName": "Table Memory Chat Bot Process"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "userMessage": "={{ $('Chat Trigger').item.json.chatInput }}",
            "assistantResponse": "={{ $('Response Agent').item.json.output }}",
            "context": "={{ JSON.stringify($('Get Context').item.json.context || { recent_messages: [], long_term_memories: [] }) }}\n",
            "context_id": "={{$('Context Keys').item.json.context_id }}",
            "table_prefix": "={{ $('Context Keys').item.json.table_prefix }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context_id",
              "displayName": "context_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "table_prefix",
              "displayName": "table_prefix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "assistantResponse",
              "displayName": "assistantResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1392,
        272
      ],
      "id": "9c258c44-e331-40c7-a281-f5211326c028",
      "name": "Call 'Table Memory Chat Bot Process'"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "Call 'Table Memory Chat Bot Process'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Base Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Keys": {
      "main": [
        [
          {
            "node": "deleteme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base Context": {
      "main": [
        [
          {
            "node": "Context Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deleteme": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35bb2489-21d4-4c1f-807f-3bc07c9a1216",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ac72ab13b8f564b4e52fe865fd322b93ff4a198e7d01a343aa643a3d940b098"
  },
  "id": "74REVfbHafXRPmK0",
  "tags": []
}