WebForms/FormGenerator.json
{
  "name": "FormGenerator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        0
      ],
      "id": "26b1f174-31a3-4174-883f-18fac3850803",
      "name": "When chat message received",
      "webhookId": "59f1f45e-5df7-41bc-86e2-d25f237d21c9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a development assistant. Your job is to take a template for a Camunda Websform definition in json format, and then replace the placeholder \"[$title]\" in that template with the title that you derive from the user input.\n\nPlease answer with the updated .json for the webform and nothing else.\n\nThe template for the the Camunda Websform definition in json format is this:\n{{$item(0).$node['Fetch Template'].json['body']}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1b4c3673-4ac7-4d1a-916f-3acb10f6a205",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "ab1f9b21-e870-4db4-98fc-da4ab205ab60",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "BA0dC7ENCTFX9BFU",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bce01c8e-f045-460f-a014-4ee162e6bd11",
              "name": "template_path",
              "value": "https://raw.githubusercontent.com/MichaelZelbel/webforms/refs/heads/main/form_template.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "7cd988ea-8080-4a2e-a76e-74bfbb2c4f93",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "string"
        },
        "url": "={{$json['template_path']}}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        64,
        0
      ],
      "id": "234cdf28-9954-4a06-8aea-ba3324293a59",
      "name": "Fetch Template"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Fetch Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Template": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4740459f-dcf2-4701-986e-2d40c5ccfa90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ac72ab13b8f564b4e52fe865fd322b93ff4a198e7d01a343aa643a3d940b098"
  },
  "id": "nl2qMVZRtRoCCKj7",
  "tags": []
}
