UniversalRAGAgent/Context/pac-builder.json
{
  "name": "PAC Builder",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"context_id\": \"823f85559ab443eeabb3887ead1db47b\",\n  \"table_prefix\": \"ura_dev_\",\n  \"userMessage\": \"I like fishing\",\n  \"assistantResponse\": \"That's great! Fishing is a wonderful hobby...\",\n  \"context\": \"{\\\"recent_messages\\\":[{\\\"id\\\":1,\\\"role\\\":\\\"user\\\",\\\"content\\\":\\\"hello\\\",\\\"was_truncated\\\":false},{\\\"id\\\":2,\\\"role\\\":\\\"assistant\\\",\\\"content\\\":\\\"hi there\\\",\\\"was_truncated\\\":false}],\\\"long_term_memories\\\":[{\\\"type\\\":\\\"preference\\\",\\\"content\\\":\\\"User likes fishing\\\"}]}\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        32
      ],
      "id": "e5c416c2-e328-4433-948d-2f39fe27d14d",
      "name": "Start"
    },
    {
      "parameters": {
        "content": "Main Orchestrator\n\nCalls 3 subworkflows:\n1. Topic Management - handles topic detection, shifts, summaries\n2. Context Builder - builds complete context with gap filling\n3. Long-term Memory - extracts and manages long-term facts\n\nEach module is independently testable and can be disabled easily.",
        "height": 280,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        -304
      ],
      "id": "62640018-c7bf-40ba-9b99-c9ab22b18bd6",
      "name": "Architecture Notes"
    },
    {
      "parameters": {
        "jsCode": "// === Configuration ===\nconst MESSAGE_LENGTH_THRESHOLD = 5000;\nconst TRUNCATE_LENGTH = 1000;\nconst TRUNCATION_SUFFIX = '... [truncated] Message Summary: ';\n\n// Get input data\nconst triggerData = $input.first().json;\nconst contextId = triggerData.context_id;\nconst userMessage = triggerData.userMessage;\nconst assistantResponse = triggerData.assistantResponse;\nconst tablePrefix = triggerData.table_prefix;\nconst contextStr = triggerData.context;\n\n// Process messages and prepare for insertion\nconst items = [];\n\nif (typeof userMessage === 'string' && userMessage.trim()) {\n  const originalMessage = userMessage.trim();\n  const messageLength = originalMessage.length;\n  \n  items.push({\n    json: {\n      context_id: contextId,\n      table_prefix: tablePrefix,\n      context: contextStr,\n      role: 'user',\n      message_original: originalMessage,\n      needs_summary: messageLength > MESSAGE_LENGTH_THRESHOLD,\n      message: messageLength <= MESSAGE_LENGTH_THRESHOLD ? originalMessage : null\n    }\n  });\n}\n\nif (typeof assistantResponse === 'string' && assistantResponse.trim()) {\n  const originalMessage = assistantResponse.trim();\n  const messageLength = originalMessage.length;\n  \n  items.push({\n    json: {\n      context_id: contextId,\n      table_prefix: tablePrefix,\n      context: contextStr,\n      role: 'assistant',\n      message_original: originalMessage,\n      needs_summary: messageLength > MESSAGE_LENGTH_THRESHOLD,\n      message: messageLength <= MESSAGE_LENGTH_THRESHOLD ? originalMessage : null\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        32
      ],
      "id": "06a0cfd2-3413-4825-8fcc-9b055cc073b6",
      "name": "Prepare Messages"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "={{ $json.table_prefix }}transcript",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_id": "={{ $json.context_id }}",
            "role": "={{ $json.role }}",
            "message": "={{ $json.message }}",
            "message_original": "={{ $json.message_original }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "queryBatching": "independently"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        144,
        32
      ],
      "id": "1cb0f67f-13d8-4bc9-91a3-87f98e4db7a0",
      "name": "Insert Messages",
      "credentials": {
        "postgres": {
          "id": "p1yb7OdsllaTAj7J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aCcvSnqrtw4Wvu61",
          "mode": "list",
          "cachedResultUrl": "/workflow/aCcvSnqrtw4Wvu61",
          "cachedResultName": "SSW Topic Management"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "context_id": "={{ $('Start').first().json.context_id }}",
            "table_prefix": "={{ $('Start').first().json.table_prefix }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context_id",
              "displayName": "context_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "table_prefix",
              "displayName": "table_prefix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        576,
        32
      ],
      "id": "fdb100f4-b781-407c-8c1f-65d34f5decaa",
      "name": "📋 Topic Management"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qVRUx4zxcejBWFrz",
          "mode": "list",
          "cachedResultUrl": "/workflow/qVRUx4zxcejBWFrz",
          "cachedResultName": "SSW Context Builder"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "context_id": "={{ $('Start').first().json.context_id }}",
            "table_prefix": "={{ $('Start').first().json.table_prefix }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context_id",
              "displayName": "context_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "table_prefix",
              "displayName": "table_prefix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        944,
        -80
      ],
      "id": "f2dfd4f7-4fa6-4296-8ff0-140e54e6b6f4",
      "name": "📦 Context Builder"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U6XLmldA666dEv97",
          "mode": "list",
          "cachedResultUrl": "/workflow/U6XLmldA666dEv97",
          "cachedResultName": "SSW Long Term Memory"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "context_id": "={{ $('Start').first().json.context_id }}",
            "table_prefix": "={{ $('Start').first().json.table_prefix }}",
            "userMessage": "={{ $('Start').first().json.userMessage }}",
            "assistantResponse": "={{ $('Start').first().json.assistantResponse }}",
            "context": "={{ $('Start').first().json.context }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "context_id",
              "displayName": "context_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "table_prefix",
              "displayName": "table_prefix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "userMessage",
              "displayName": "userMessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "assistantResponse",
              "displayName": "assistantResponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        944,
        128
      ],
      "id": "f1b4df01-d4b5-4051-91fd-ebec9a0120c4",
      "name": "🧠 Long-term Memory"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "={{ $('Start').item.json.table_prefix }}context",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "context_id": "={{ $('Start').item.json.context_id }}",
            "context": "={{ $json.context }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1344,
        32
      ],
      "id": "bbbe64c2-e808-4b2b-955c-6c18377ef0c4",
      "name": "Upsert Context",
      "credentials": {
        "postgres": {
          "id": "p1yb7OdsllaTAj7J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Subworkflow Outputs:\n\n📋 Topic Management\n- topic_shift_detected (bool)\n- current_topic_state (object)\n- summary_created (bool)\n\n📦 Context Builder\n- complete_context (JSON)\n- gap_filled (bool)\n- transcript_rows (array)\n- summary_rows (array)\n\n🧠 Long-term Memory\n- new_memories (array)\n- removed_memories (array)\n- should_update (bool)",
        "height": 340,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        288
      ],
      "id": "77c6a14e-906b-4cfd-9396-cb035de11a39",
      "name": "Subworkflow Outputs"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Messages": {
      "main": [
        [
          {
            "node": "Insert Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Messages": {
      "main": [
        [
          {
            "node": "📋 Topic Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Topic Management": {
      "main": [
        [
          {
            "node": "📦 Context Builder",
            "type": "main",
            "index": 0
          },
          {
            "node": "🧠 Long-term Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Context Builder": {
      "main": [
        [
          {
            "node": "Upsert Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Long-term Memory": {
      "main": [
        [
          {
            "node": "Upsert Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b56badc7-61ed-407f-8f13-9b7b83026dc5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7ac72ab13b8f564b4e52fe865fd322b93ff4a198e7d01a343aa643a3d940b098"
  },
  "id": "e7XF3f8ZZCeSZyw0",
  "tags": []
}